@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --page-background: #f7f7f8;
  --chatbot-background: #FFFFFF;
  --chatbot-theme-color-dark: #19c37d;
  --chatbot-theme-color-light: #F2F2F2;
  --text-color-light: #FFFFFF;
  --text-color-dark: #000000;
  --elements-color-light: #CCCCCC;
  --error-text-color: #721C24;
  --error-background: #F8D7DA;
}

body {
  background: var(--page-background);
}

/* Show/hide chatbot button */
.chatbot-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: 35px;
  height: 50px;
  width: 50px;
  color: var(--chatbot-theme-color-light);
  background: var(--chatbot-theme-color-dark);
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.show-chatbot .chatbot-toggle {
  transform: rotate(90deg);
}

.chatbot-toggle__icon {
  position: absolute;
}

.show-chatbot .chatbot-toggle__icon:first-child,
.chatbot-toggle__icon:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggle__icon:last-child {
  opacity: 1;
}

/* Chatbot */
.chatbot {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--chatbot-background);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}

.show-chatbot .chatbot {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chatbot__header {
  position: relative;
  background: var(--chatbot-theme-color-dark);
  padding: 16px 0;
  text-align: center;
}

.chatbot__header .chatbot__mobile-close-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  color: var(--chatbot-theme-color-light);
  background: none;
  outline: none;
  border: none;
  transform: translateY(-50%);
}

.chatbot__title {
  color: var(--text-color-light);
  font-size: 1.4rem;
}

.chatbox {
  height: 90%;
  overflow-y: auto;
  padding: 30px 20px 100px;
}

.chatbox__msg {
  display: flex;
}

.chatbox__msg-text {
  max-width: 75%;
  color: var(--text-color-light);
  white-space: pre-wrap;
  font-size: 0.95rem;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: var(--chatbot-theme-color-dark);
}

.chatbox__msg_incoming .chatbox__msg-text {
  color: var(--text-color-dark);
  background: var(--chatbot-theme-color-light);
  border-radius: 10px 10px 10px 0;
}

.chatbox__msg_incoming .chatbox__msg-text.error {
  color: var(--error-text-color);
  background: var(--error-background);
}

.chatbox__msg_incoming .chatbox__msg-icon {
  align-self: flex-end;
  height: 32px;
  width: 32px;
  color: var(--text-color-light);
  background: var(--chatbot-theme-color-dark);
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox__msg_outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbot__input-container {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--chatbot-background);
  padding: 5px 20px;
  border-top: 1px solid var(--elements-color-light);
}

.chatbot__input-textarea {
  height: 55px;
  max-height: 180px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chatbot__input-btn {
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  color: var(--chatbot-theme-color-dark);
  font-size: 1.35rem;
  cursor: pointer;
  background: none;
  border: none;
  visibility: hidden;
}

.chatbot__input-textarea:valid~.chatbot__input-btn {
  visibility: visible;
}

@media (min-width: 490px) {
  .chatbot {
    right: 40px;
    bottom: 100px;
    width: 420px;
    height: unset;
    border-radius: 15px;
  }

  .chatbot__header .chatbot__mobile-close-btn {
    display: none;
  }

  .chatbox {
    /* height: 510px; */
    height: 470px;
  }
}